@font-face {
    font-family: Jost;
    src: url("/themes/foundation_eco_base/asset/font/Jost-400-Book.ttf") format("truetype");
}

 @font-face {
  font-family: Jost;
  src: url("/themes/foundation_eco_base/asset/font/Jost-700-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
    font-family: Open Sans;
    src: url("/themes/foundation_eco_base/asset/font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Open Sans;
    src: url("/themes/foundation_eco_base/asset/font/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}



body {
font-size:1.2em;
font-family: Open Sans;
}

.nav-header:hover {
  color: #b7aba6;
}

.menu a {
 color: white;
}

.top-bar, .top-bar ul {
    background-color: #B7410E;
}

.menu .active > a, .toc-block > ul .active > a, .toc-block ul ul .active > a {
    background: #b7aba6;
    color: #201d1b;
}

.button {
    background: #b99686;
    color: #201d1b;
}


.vertical.menu a {
  
  color: white;
  font-weight: normal;
  
}

.sub-menu.wide.sticky-container a {
  
  color: #b7410e;
  font-weight: bold;
  
}

.dropdown.menu > li.is-dropdown-submenu-parent.active > a:hover {
  color: white;
  background-color: #742909;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active:hover > a {
  color: white;
  background-color: #201d1b;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active > a {
  color: white;
  background-color: #B7410E;
}

.dropdown.menu > li.is-dropdown-submenu-parent.active a {
  color: white;
  background-color: #B7410E;
}


.dropdown.menu > li.is-dropdown-submenu-parent.active.js-dropdown-active {
    color: white;
  background-color: #201d1b;
}

.dropdown.menu > li.is-active > a {
  color:white;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after, .toc-block > ul.dropdown > li.is-dropdown-submenu-parent > a::after, .toc-block ul ul.dropdown > li.is-dropdown-submenu-parent > a::after {
  border-color: white transparent transparent;
}

.breadcrumbs a {
    color: #b7410e;
}

.button:hover, :hover[type="submit"] {
color: #B7410E;
background: #fefefe;
}

.input-group-button a, .input-group-button input, .input-group-button button, .input-group-button label {
    background: #b7aba6;
    color: #201d1b;
}

.menu a:hover, a:focus {
   /* color: #b7aba6; */
    text-decoration: underline;
}

a:hover, a:focus {
    color: #742909;
    text-decoration: underline;
}

a {
    color: #B7410E;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .preview-block h4, .preview-block, .site-title .preview-block h1, .h5, h6, .h6 {
color: #B7410E;
font-family: Jost;
font-weight: bold;
}

.site-title h1 {
color: white;
font-family: Jost;
font-variant: small-caps;
font-weight: bold;
}

.title:hover{
    color: #b7aba6;
    text-decoration: none;
}

a h4 {
color: #B7410E;
}

.resource.show .media-render > a:only-child {
border: 1px solid #B7410E;
}

.resource.show .values .resource-link img, #linked-resources img {
border: 1px solid #B7410E;
}

.thumbnail, .media-list img {
border: 1px solid #B7410E;
}

.label {
 display: none;
}

.language {
    background: lightgray;
}


.previous.o-icon-prev.button.inactive {
    background: #b7afab;
    color: #201d1b;
}

.next.o-icon-next.button.inactive {
    background: #b7afab;
    color: #201d1b;
}

.previous.o-icon-prev.button {
    background: #b99686;
    color: #201d1b;
}

.next.o-icon-next.button {
    background: #b99686;
    color: #201d1b;
}

.grid.o-icon-grid {
    background: #b99686;
    color: #201d1b;
}

.list.o-icon-list {
    background: #b99686;
    color: #201d1b;
}

.media-embeds {
  font-size:80%;
  line-height:1;
}

.media-embeds dl {
  line-height:1.2;
  margin-bottom: 0.3rem;
}

dl dt {
  margin-bottom: 0;
}

.description.fadeout::after {

    content: "";
    position: absolute;
    top: 5.5rem;
    left: 50%;
    right: 0;
    height: 2.5rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(60%, #fff));
    background: linear-gradient(to right, rgba(255,255,255,0), #fff 60%);

}

.description.fadeout {
max-height: 7.5rem;
}

.site-page-pagination > a {
  background-color: #B7410E;
}


.site-page-pagination > a:hover {
  background-color: #742909;
}

.resource.show .resource-link {
  margin-bottom: 0;
}

.item-showcase .resource.item {
    width: 320px;
    text-align: center;
    padding: 20px;
    display: inline-block;
}

.item-showcase .resource.item:hover img {
    transform: scale(1.2);
}

.item-showcase .resource.item img {
    transition: transform .2s ease-out;
}

.item-showcase {
    text-align: center;
    width: 100%;
    float: right;
}
