@font-face {
    font-family: Jost;
    src: url("/themes/foundation_eco_base/asset/font/Jost-400-Book.ttf") format("truetype");
}

 @font-face {
  font-family: Jost;
  src: url("/themes/foundation_eco_base/asset/font/Jost-700-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
    font-family: Open Sans;
    src: url("/themes/foundation_eco_base/asset/font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Open Sans;
    src: url("/themes/foundation_eco_base/asset/font/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}



body {
font-size:1.2em;
font-family: Open Sans;
word-wrap: break-word;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .preview-block h4, .preview-block, .site-title .preview-block h1, .h5, h6, .h6 {
font-family: Jost;
font-weight: bold;
}

.site-title h1 a {
font-family: Jost;
font-variant: small-caps;
font-weight: bold;
font-size: 0.6em;
color: #B7410E;
}

.site-title img {
    max-height: 2em;
}

header {
 border-top:1rem solid #B7410E;
 color: #B7410E;
}

a:hover a:focus {
  color: #802d09;
}
