@font-face {
    font-family: Jost;
    src: url("/themes/foundation_archiviomemoria/asset/font/Jost-400-Book.ttf") format("truetype");
}

 @font-face {
  font-family: Jost;
  src: url("/themes/foundation_archiviomemoria/asset/font/Jost-700-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
    font-family: Open Sans;
    src: url("/themes/foundation_archiviomemoria/asset/font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Open Sans;
    src: url("/themes/foundation_archiviomemoria/asset/font/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}



body {
font-size:1.2em;
font-family: Open Sans;
word-wrap: break-word;
}


body a:hover{
  color: #B7410E;
}

body a {
  color: #802d09;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .preview-block h4, .preview-block, .site-title .preview-block h1, .h5, h6, .h6 {
font-family: Jost;
font-weight: bold;
}

.site-title h1 a {
font-family: Jost;
font-variant: small-caps;
font-weight: bold;
font-size: 0.6em;
color: #B7410E;
}

.site-title img {
    max-height: 2em;
}

header {
 border-top:1rem solid #B7410E;
 color: #B7410E;
}

a:hover a:focus {
  color: #802d09;
}


.nav-header:hover {
  color: #B7410E;
}

.button {
  background-color: #B7410E;
  color: white;
}

.menu .active > a, .toc-block > ul .active > a, .toc-block ul ul .active > a {
    background: #B7410E;
    color: white;
}

.filter-label {
  background: #B7410E;
    color: white;
}

.label {
  display: none;
}

#advanced-search button {
     background: #B7410E;
    color: white;
    padding: 10px;
}


.previous.o-icon-prev.button.inactive {
    background: #b7afab;
    color: #201d1b;
}

.next.o-icon-next.button.inactive {
    background: #b7afab;
    color: #201d1b;
}

.previous.o-icon-prev.button {
    background: #b99686;
    color: #201d1b;
}

.next.o-icon-next.button {
    background: #b99686;
    color: #201d1b;
}

.grid.o-icon-grid {
    background: #b99686;
    color: #201d1b;
}

.list.o-icon-list {
    background: #b99686;
    color: #201d1b;
}

.media-embeds {
  font-size:80%;
  line-height:1;
}

.media-embeds dl {
  line-height:1.2;
  margin-bottom: 0.3rem;
}



.item-showcase .resource.item {
    width: 320px;
    text-align: center;
    padding: 20px;
    float: left;
    height: 360px;
}

.item-showcase .resource.item:hover img {
    transform: scale(1.2);
}

.item-showcase .resource.item img {
    transition: transform .2s ease-out;
}

.item-showcase {
    text-align: center;
    width: 100%;
    float: right;
}

.description.fadeout::after {
    content: "";
    position: absolute;
    top: 6.5rem;
    left: 50%;
    right: 0;
    height: 2.5rem;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(60%, #fff));
    background: linear-gradient(to right, rgba(255,255,255,0), #fff 60%);

}

.description.fadeout {
max-height: 8.3rem;
}

.caption {
    font-size: 0.81em;
}

#content {
  font-size:1.1em;
}

th:nth-child(2),td:nth-child(2){
      display:none;
    }
    
    
.omeka-pagination {
  width: 50%;
  margin-bottom: 0.83rem;
}